/* src/components/CreateArea.css */
.create-area {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .create-note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 8px #ccc;
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Adjust this value to change the width */
    display: flex;
    flex-direction: column;
  }
  
  .create-note input,
  .create-note textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
  }
  
  